.header__logo {
  background: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media (max-width: 360px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}
