.menu__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
}

.menu__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.menu__link:hover::before {
  opacity: 0.8;
}
