.menu__item {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}

.menu__item:first-of-type {
  border-bottom: 1px solid #fff;
}

@media (max-width: 360px) {
  .menu__item {
    font-size: 18px;
    line-height: 20px;
  }
}
