.place {
  display: grid;
  grid-template-columns: minmax(1% , 460px) minmax(49%, 261px);
  grid-template-rows: 1fr;
  gap: 48px 40px;
  align-items: end;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(1% , 440px) minmax(49%, 174px);
    column-gap: 32px;
  }
}

@media (max-width: 770px) {
  .place {
    grid-template-columns: minmax(1% , 340px) minmax(49%, 182px);
    column-gap: 28px;
  }
}

@media (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
