.footer {
  display: flex;
  margin: 92px auto 0;
  padding: 0 48px 24px;
  justify-content: space-between;
  gap: 18px;
}

@media (max-width: 800px) {
  .footer {
    margin: 88px auto 0;
    padding: 0 24px 24px;
  }
}

@media (max-width: 690px) {
  .footer {
    margin: 64px auto 0;
    padding: 0 16px 24px;
    flex-direction: column;
    row-gap: 48px;
  }
}




